[submodule "external/cow-sdk"]
	path = external/cow-sdk
	url = https://github.com/cowprotocol/cow-sdk
[submodule "external/app-data"]
	path = external/app-data
	url = https://github.com/cowprotocol/app-data
